# Socrata aka City datahub
CSR_DATASET=
CSR_ENDPOINT=
SO_KEY=
SO_SECRET=
SO_TOKEN=
SO_WEB=

# Smartsheet
SMARTSHEET_ACCESS_TOKEN=

# AWS (
EXEC_DASH_ACCESS_ID=
EXEC_DASH_PASS=
BUCKET_NAME=

# AWS (finance-reports)
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=

# AMANDA RR DB
HOST=
PORT=
SERVICE_NAME=
DB_USER=
DB_PASS=

# Maximo Data Warehouse DB
MAXIMO_DB_PASS=
MAXIMO_DB_USER=
MAXIMO_HOST=
MAXIMO_PORT=
MAXIMO_SERVICE_NAME=

# Microstrategy
BASE_URL=
MSTRO_USERNAME=
MSTRO_PASSWORD=
PROJECT_ID=
